.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.1s;
}

aside.share-icon {
    position: fixed;
    z-index: 10;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg-icon {
    cursor: pointer;
}

.svg-icon svg {
    fill: #3eb0ef;
    height: 30px;
    width: 30px;
}

.clap-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
}

.clap-section .total-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: -45px;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
}

.clap-section .total-counter.fader {
    animation: fade-in 1400ms forwards;
}

.clap-section .clap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    z-index: 2;
    background: #fff;
    cursor: pointer;
}

.clap-section .clap-container .clap-icon {
    font-size: 30px;
    fill: #3eb0ef;
    width: 30px;
    height: 30px;
}

.clap-section .clap-container .clap-icon.clicked {
    stroke: #3eb0ef;
    stroke-width: 1px;
}

.clap-section .clap-container.clicked {
    border-color: #3eb0ef;
    border-width: 2px;
}

.clap-section .clap-container:hover {
    border: 1px solid #3eb0ef;
}

.clap-section .clap-container.scale {
    animation: scaleAndBack 700ms forwards;
}

.clap-section .click-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    background-color: #3eb0ef;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
}

.clap-section .click-counter .counter {
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
}

.clap-section .click-counter.first-active {
    animation: first-bump-in 1s forwards;
}

.clap-section .click-counter.active {
    animation: bump-in 1s forwards;
}

.clap-section .clap-container-sonar {
    width: 60px;
    height: 60px;
    background: #3eb0ef;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.clap-section .hover-active {
    animation: sonar-wave 2s forwards;
}

.clap-section .particles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    /* border: 1px solid gray; */
    /* z-index: 3; */
}

.clap-section .particles-container .triangle {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 10px solid red;
    border-bottom: 4px solid transparent;
    position: absolute;
}

.clap-section .particles-container .triangle .square {
    width: 5px;
    height: 5px;
    background: #3eb0ef;
    position: absolute;
    left: -15px;
    top: 0;
}

.clap-section .particles-container .pop-top {
    animation: pop-top 1s forwards;
}

.clap-section .particles-container .pop-top-left {
    animation: pop-top-left 1s forwards;
}

.clap-section .particles-container .pop-top-right {
    animation: pop-top-right 1s forwards;
}

.clap-section .particles-container .pop-bottom-right {
    animation: pop-bottom-right 1s forwards;
}

.clap-section .particles-container .pop-bottom-left {
    animation: pop-bottom-left 1s forwards;
}

@keyframes sonar-wave {
    0% {
        opacity: 0.7;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop-top {
    0% {
        transform: translate(0, 0) rotate(0);
        opacity: 0.4;
    }
    100% {
        transform: translate(0, -100px) rotate(0);
        opacity: 0;
    }
}

@keyframes pop-top-left {
    0% {
        transform: translate(0, 0) rotate(-55deg);
        opacity: 0.4;
    }
    100% {
        transform: translate(-100px, -50px) rotate(-55deg);
        opacity: 0;
    }
}

@keyframes pop-top-right {
    0% {
        transform: translate(0, 0) rotate(55deg);
        opacity: 0.4;
    }
    100% {
        transform: translate(100px, -50px) rotate(55deg);
        opacity: 0;
    }
}

@keyframes pop-bottom-right {
    0% {
        transform: translate(0, 0) rotate(135deg);
        opacity: 0.4;
    }
    100% {
        transform: translate(70px, 80px) rotate(135deg);
        opacity: 0;
    }
}

@keyframes pop-bottom-left {
    0% {
        transform: translate(0, 0) rotate(-135deg);
        opacity: 0.4;
    }
    100% {
        transform: translate(-70px, 80px) rotate(-135deg);
        opacity: 0;
    }
}

@keyframes first-bump-in {
    0% {
        transform: translateY(-65px);
        opacity: 1;
    }
    50% {
        transform: translateY(-80px);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

@keyframes bump-in {
    0% {
        transform: translateY(-80px) scale(0.9);
        opacity: 1;
    }
    50% {
        transform: translateY(-80px) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px) scale(1);
        opacity: 0;
    }
}

@keyframes scaleAndBack {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 500px) {
    aside.share-icon {
        position: relative;
        top: 0;
        flex-direction: row;
        justify-content: space-around;
        /* background: #89cef5; */
        border-top: 1px solid #75c5f3;
        border-bottom: 1px solid #6fc3f3;
    }

    .clap-section .total-counter {
        margin-top: 0;
        margin-left: 67px;
    }
}
/*# sourceMappingURL=class.css.map */
